<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>新光文字分析平台</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap" rel="stylesheet" />
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://d3js.org/d3.v6.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.5/d3.layout.cloud.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/d3-simple-slider"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.core.min.js" integrity="sha512-ChZ5l881NIBx9sxdDy5gEynup6bC4+E8GPWBylkyRYwwK1fHAlGa7+D9m1o4OEjqYA+nygyMR48vNh5kmZWPLg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <style>
      body {
        font-family: 'Noto Sans TC', sans-serif;
      }
      .svg-content {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
      }
      .dateFilter {
        margin: 0 auto;
        display: inline-block;
        position: relative;
        width: 90%;
        padding-bottom: 8%;
        vertical-align: top;
        overflow: hidden;
      }
      #dateRange {
        display: inline-block;
        position: relative;
        width: 100%;
        padding-bottom: 8%;
        vertical-align: top;
        overflow: hidden;
      }
      #lineDateFilter {
        display: inline-block;
        position: relative;
        width: 100%;
        padding-bottom: 8%;
        vertical-align: top;
        overflow: hidden;
      }
      #proportionDateFilter {
        display: inline-block;
        position: relative;
        width: 100%;
        padding-bottom: 8%;
        vertical-align: top;
        overflow: hidden;
      }
      #sentDateFilter {
        display: inline-block;
        position: relative;
        width: 100%;
        padding-bottom: 8%;
        vertical-align: top;
        overflow: hidden;
      }
    </style>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              main: '#E60012',
            },
          },
        },
      }
    </script>
  </head>
  <body id="app">
    <aside class="w-2/12 h-screen bg-rose-50 fixed">
      <img src="./img/SK_logo.png" alt="" class="px-10 py-6" />
      <h1 class="text-2xl text-center font-bold">新光文字分析平台</h1>
      {{this.currentType}}
      <div class="mx-5" v-for="">
        <div class="mt-5">
          <p class="text-xl font-bold border-l-8 pl-2 border-main">資料來源</p>
          <div class="mt-1 text-xl flex justify-left">
            <label class="px-3" v-for="type in typeChoose">
              <input type="radio" v-model="currentType" name="type" id="" :value="type.type" :checked="type.checked " @change="chooseChange($event)" />
              {{type.value}}
            </label>
          </div>
        </div>

        <!-- 篩選看板 -->
        <div class="mt-5" v-for="list in chooseList.list">
          <p class="text-xl font-bold border-l-8 pl-2 border-main">{{list.filterTitle}}</p>
          <div class="mt-2 text-xl flex flex-col justify-start flex-wrap">
            <label class="px-3" v-for="item in list.filterItems" v-if="list.checkBox">
              <input type="checkbox" v-model="list.model" :name="list.filterName" id="" :value="item.value" @change="generateChart" />
              {{item.name}}
            </label>
            <label class="px-3" v-for="item in list.filterItems" v-else>
              <input type="radio" v-model="list.model" :name="list.filterName" id="" :value="item.value" @change="generateChart" />
              {{item.name}}
            </label>
          </div>
        </div>
      </div>
    </aside>

    <main class="ml-[17%] mr-6 pb-10 relative" id="main">
      <div class="flex justify-around">
        <button v-for="tab in tabs" class="bg-red-100 px-10 py-5 rounded-xl relative top-[-15px]" v-bind:class="{'top-[-8px]' : tab === currentTab,'bg-red-300' : tab === currentTab}" @click="changeTab(tab)">{{tab}}</button>
      </div>
      <div>
        <div class="pt-3 flex justify-between" :class="currentTab == '使用字詞比較' ? 'hidden' : 'block'">
          <div class="flex">
            <div v-for="bank in bankButton" class="bankButton bg-blue-100 border-rounded px-4 py-2 mx-2 rounded-xl relative" :data-value="bank.name">
              <button data-type="bankDelete" @click="removeBank($event)" :data-value="bank.name" class="hover:bg-red-500 absolute w-4 h-4 text-sm bg-red-400 rounded-full flex justify-center items-center right-[-10px] top-[-10px] pb-1 text-white">x</button>
              {{bank.name}}
            </div>
          </div>
          <form class="flex" id="bankButtonForm" @submit.prevent>
            <input type="text" id="bankButtonInput" class="focus:ring-indigo-500 border block shadow-md border-gray-300 rounded-md px-4" placeholder="請輸入比較文字" />
            <button type="submit" id="bankSubmitButton" @keyup.enter="bankSubmit" @click="bankSubmit" class="w-100 block border-rounded border border-blue-400 px-4 py-2 mx-2 rounded-xl whitespace-nowrap bg-blue-300">送出</button>
          </form>
        </div>
        <div class="mt-6 flex justify-between" :class="currentTab == '文字雲比較' ? 'block' : 'hidden'">
          <div class="flex flex-wrap">
            <div v-for="date,index in dateButton" class="mb-2 bg-green-100 border-rounded px-4 py-2 mx-2 rounded-xl relative">
              <button @click="removeDate(index)" class="hover:bg-red-500 absolute w-4 h-4 text-sm bg-red-400 rounded-full flex justify-center items-center right-[-5px] top-[-5px] pb-1 text-white">x</button>
              {{date.dateStart}} ~ {{date.dateEnd}}
            </div>
          </div>
          <div></div>
          <form class="flex h-min w-1/2" @submit.prevent>
            <div class="flex flex-col w-full">
              <div class="flex justify-around">
                <p>
                  From:
                  <span id="dateStart"></span>
                </p>
                <p>
                  To:
                  <span id="dateEnd"></span>
                </p>
              </div>
              <div id="dateRange"></div>
            </div>
            <button type="submit" id="dateSubmitButton" @keyup.enter="dateSubmit" @click="dateSubmit" class="w-100 block border-rounded border border-green-400 px-4 py-2 mx-2 rounded-xl whitespace-nowrap bg-green-300">送出</button>
          </form>
        </div>
        <div class="mt-3 mx-3 flex flex-col" :class="currentTab == '使用字詞比較' ? 'block' : 'hidden'">
          <div class="flex">
            <div class="flex flex-col w-full">
              <div class="flex justify-between">
                <div class="flex">
                  <p class="text-xl my-auto">關鍵字A：</p>
                  <p class="text-2xl py-1 px-1 py-2 px-2 rounded-xl" id="keywordA">{{keywordA}}</p>
                </div>
                <input type="text" id="keywordInputA" class="block focus:ring-indigo-500 border block shadow-md border-gray-300 rounded-md px-4 py-1" placeholder="修改關鍵字A" />
              </div>
              <div class="flex mt-1 justify-between">
                <div class="flex">
                  <p class="text-xl my-auto">關鍵字B：</p>
                  <p class="text-2xl py-1 px-1 py-2 px-2 rounded-xl" id="keywordB">{{keywordB}}</p>
                </div>
                <input type="text" id="keywordInputB" class="focus:ring-indigo-500 border block shadow-md border-gray-300 rounded-md px-4 py-1" placeholder="修改關鍵字B" />
              </div>
            </div>
            <div class="flex">
              <button type="submit" @click="submitKeyword" id="keywordSubmit" class="w-100 block border-rounded border border-blue-400 px-4 py-2 mx-2 rounded-xl whitespace-nowrap bg-blue-300">送出</button>
            </div>
          </div>
          <div id="proportionDateFilter"></div>
        </div>
        <div :class="currentTab == '提及熱度比較' ? 'block' : 'hidden'">
          <div id="lineDateFilter"></div>
        </div>

        <div id="canvas" class="mt-4" :class="currentTab == '文字雲比較' ? 'block' : 'hidden'"></div>
        <div id="lineChart" class="mt-4" :class="currentTab == '提及熱度比較' ? 'block' : 'hidden'"></div>
        <div id="proportionChart" class="mt-4" :class="currentTab == '使用字詞比較' ? 'block' : 'hidden'"></div>
        <div id="sentChart" class="mt-4 flex flex-col" :class="currentTab == '情緒分析' ? 'block' : 'hidden'"></div>
      </div>
    </main>
    <div class="relative z-10 hidden transition-all duration-300 opacity-0" id="modal" aria-labelledby="modal-title" role="dialog" aria-modal="true">
      <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
      <div class="fixed z-10 inset-0 overflow-y-auto">
        <div class="flex items-center justify-center min-h-full p-4 text-center">
          <div class="relative bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all w-3/4 pb-10 \">
            <div class="bg-white">
              <div class="text-center">
                <h3 class="text-3xl my-5 leading-6 font-medium text-gray-900 py-4" id="modal-title">
                  <span id="modal-topic" class="text-main"></span>
                  中的
                  <span id="modal-keyword" class="text-main"></span>
                </h3>
                <div>
                  <p class="text-xl text-center">BiGram</p>
                  <table class="table-fixed w-3/4 mx-auto">
                    <thead>
                      <tr class="bg-rose-100 text-xl py-4">
                        <th>Word</th>
                        <th>Word</th>
                        <th>次數</th>
                      </tr>
                    </thead>

                    <tbody id="bigram-body"></tbody>
                  </table>
                  <div id="bigram-loading"></div>
                </div>
                <div>
                  <p class="text-xl text-center">TriGram</p>
                  <table class="table-fixed w-3/4 mx-auto">
                    <thead>
                      <tr class="bg-rose-100 text-xl py-4">
                        <th>Word</th>
                        <th>Word</th>
                        <th>Word</th>
                        <th>次數</th>
                      </tr>
                    </thead>

                    <tbody id="trigram-body"></tbody>
                  </table>
                  <div id="trigram-loading"></div>
                </div>
              </div>
            </div>
            <div class="absolute top-0 right-0">
              <button type="button" class="text-red-400 bg-transparent rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" @click="closeModal" data-modal-toggle="defaultModal">
                <svg aria-hidden="true" class="w-8 h-8" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                <span class="sr-only">Close modal</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="module" src="./js/api.js"></script>
    <script type="module" src="./js/wordcloud.js"></script>
    <script type="module" src="./js/linechart.js"></script>
    <script type="module" src="./js/proportionChart.js"></script>
    <script type="module" src="./js/sentChart.js"></script>
    <script type="module" src="./js/vue.js"></script>
    <script type="module">
      import wordCloud from './js/wordcloud.js'
      import lineChart from './js/linechart.js'
      // lineChart()
      // wordCloud()
    </script>
    <script>
      // const sliderRange = d3
      //   .sliderBottom()
      //   .min(1000)
      //   .max(2001)
      //   .step(1000 * 60 * 60 * 24 * 366) // not 365
      //   .width(800)
      //   .fill('#D4011D')
      //   .tickFormat(d3.timeFormat('%Y'))
      //   .default([1000, d3.timeParse('%Y')('2021')])

      // d3.select('#slider').append('svg').attr('class', 'mt-7').attr('preserveAspectRatio', 'xMinYMin meet').attr('viewBox', '0 0 875 600').classed('svg-content', true).append('g').attr('transform', 'translate(30,30)').call(sliderRange)
    </script>
  </body>
</html>
